#index{
    background-image: url('https://cdn.pixabay.com/photo/2017/05/07/19/32/strawberry-2293337__340.jpg')
}
#pich{
    text-shadow:4px 4px rgb(199, 89, 89);
    color:rgb(252, 246, 246);
    font-size: 100px;

}
#ops{
    background-color: transparent;
    color:rgb(9, 9, 10);
    background-color:rgb(230, 176, 166); 
}