{% extends 'base.html' %}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
{{super}}
<div class="container-fluid">
<div id="index">
<h1 id="pich">WELCOME TO PITCH IT :)</h1>
{%for pitch in my_pitch%}
<div class="container">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{pitch.title}}</h4>
      <p class="card-text">{{pitch.pitch}}</p>
      <a href="{{url_for('main.your_comment',pitch_id = pitch.id)}}" class="btn btn-primary">Comment</a>
    </div>
  </div>
</div> <br>
{%endfor%}
</div>
</div>
{% endblock %}