{% extends 'base.html' %}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
{{super}}
<div id="index">
<h1 id="pich">WELCOME TO PITCH IT :)</h1>
<div class="row" >
  <div class="col-md-5">
    <div class="card" id="ops">
      <h2>PROMOTIONAL PITCHES</h2>
      <div class="card-body " >
        <h5 class="card-title"><strong>Buddha</strong></h5>
        <p class="card-text">All that we are is a result of what we have thought</p><br>
        <button class="btn btn-primary">Comment</button>
        <a style="font-size:24px" class="btn btn-light w-10">Button <i class="fa fa-thumbs-up"></i></a>
        <a style="font-size:24px" class="btn btn-light">Button <i class="fa fa-thumbs-down"></i></a>
        
        </div>
    </div>
  </div><br>
  <div class="col-md-5">
    <div class="card" id="ops">
      <h2>INTERVIEW PITCHES</h2>
      <div class="card-body">
        <h5 class="card-title"><strong>Albert Einsten</strong></h5>
        <p class="card-text">I have no special talent.I am ony passionately curious</p><br>
        <button class="btn btn-primary">Comment</button>
        <a style="font-size:24px" class="btn btn-light">Button <i class="fa fa-thumbs-up"></i></a>
        <a style="font-size:24px" class="btn btn-light">Button <i class="fa fa-thumbs-down"></i></a>
        
        
      </div>
    </div>
  </div>
</div><br>
<div class="row">
  <div class="col-md-5">
    <div class="card" id="ops">
      <H2>PRODUCT PITCHES</H2>
      <div class="card-body">
        <h5 class="card-title"><strong>Teresa</strong></h5>
        <p class="card-text">If you judge people you have no time to love them</p><br>
        <button class="btn btn-primary">Comment</button>
        <a style="font-size:24px" class="btn btn-light">Button <i class="fa fa-thumbs-up"></i></a>
        <a style="font-size:24px" class="btn btn-light">Button <i class="fa fa-thumbs-down"></i></a>
        
        </div>
    </div>
  </div><br>
  <div class="col-md-5">
    <div class="card" id="ops">
      <H2>PICKUP LINES</H2>
      <div class="card-body">
        <h5 class="card-title"><strong>Shakespaear</strong></h5>
        <p class="card-text">Wisley and slow, They stumble that run fast</p><br>
        <button class="btn btn-primary">Comment</button>
        <a style="font-size:24px" class="btn btn-light">Button <i class="fa fa-thumbs-up"></i></a>
        <a style="font-size:24px" class="btn btn-light">Button <i class="fa fa-thumbs-down"></i></a>
        
        
      </div>
    </div>
  </div>
</div><br>
<div class="row">
  <div class="col-md-5">
    <div class="card" id="ops">
      <H3>ECONOMIC PITCH</H3>
      <div class="card-body">
        <h5 class="card-title"><strong>Emerson</strong></h5>
        <p class="card-text">A great man is always willing to be little</p><br>
        <button class="btn btn-primary">Comment</button>
        <a style="font-size:24px" class="btn btn-light">Button <i class="fa fa-thumbs-up"></i></a>
        <a style="font-size:24px" class="btn btn-light">Button <i class="fa fa-thumbs-down"></i></a>
        
        </div>
    </div>
  </div><br>
  <div class="col-md-5">
    <div class="card" id="ops">
      <H3>TECH PITCH</H3>
      <div class="card-body">
        <h5 class="card-title"><strong>Plato</strong></h5>
        <p class="card-text">The greatest wealth is to live content with little</p><br>
        <button class="btn btn-primary">Comment</button>
        <a style="font-size:24px" class="btn btn-light">Button <i class="fa fa-thumbs-up"></i></a>
        <a style="font-size:24px" class="btn btn-light">Button <i class="fa fa-thumbs-down"></i></a>
        
      </div>
    </div>
  </div>
</div>
</div>


{% endblock %}