{% extends 'base.html' %}
{% block content %}
    {{super()}}
    <h1>LOGIN</h1>
    <form action="/login",method = 'POST'>
      {% if error %}
      <div class="alert alert-danger">
          {{error}}
      </div>
      {% endif %}

        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control"  placeholder="Username">
          </div>
        
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control"  placeholder="Ptyyassword">
          </div>
          <button type="submit" class="btn btn-info ">Submit</button>



    </form>
{% endblock %}